body
{
    background-color: #2e3440;
    text-align: center;
    padding: 16px;
}

#main-logo
{
    width: 30%;
}

#text-logo
{
    font-family: 'Outfit', sans-serif;
    color: #eceff4;
    margin-top: -8px;
    font-size: 48px;
}
.option
{
    transition-duration: 100ms;
    width: 40%;
    background-color: #4c566a;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 16px;
    font-family: 'DM Mono', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.option:hover
{
    transition-duration: 100ms;
    color: #4c566a;
    background-color: white;
}